<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body class="Disc_body">
    <main>
        <!-- Description Info -->
        <section class = "Description">
            <div class = "content-wrap-divider">
                <div class = "Disc">
                <h1>Discover</h1>
                    <p>How Pranayamic Breathing could help de-stress during times of high anxiety.
                        How keeping a journal helps with monitoring daily moods, thoughts and allows you to be aware of surroundings and cognizant of your actions.
                        How daily meditation can help with keeping a still mind and finding a balance in a hectic world. 
                    </p>
                </div>
                <div class="disc_meditation">
                <h2>Meditate</h2>
                    <img src="{{ url_for('static',filename='Images/rock-spa-png-.png') }}" alt="Meditate" >
                    <p> Meditation, which is the practice of focused concentration, bringing yourself back to the moment over and over again, actually addresses stress, whether positive or negative.</p>
                </div>
                <div class="disc_breathing">
                    <h2>Pranayamic Breathing </h2>
                    <img src="{{ url_for('static',filename='Images/breathing_logo.png') }}" alt="Breathing" >
                    <p>There are various techniques that can mitigate anxiety and stress. Shitali pranayama, which is a cooling form of pranyama, is great for calming the mind and body, resulting in lower hypertension and relaxed nerves.</p>
                </div>
                <div class="disc_journal">
                <h2>Journal</h2>
                    <img src="{{ url_for('static',filename='Images/open_book.png') }}" alt="Journal" width ="300">
                    <p>Journaling also helps you better organize your thoughts. According to the University of Rochester Medical Center, "When you have a problem, and you're stressed, keeping a journal can help you identify what's causing that stress or anxiety. Then, once you've identified your stressors, you can work on a plan to resolve the problems and, in turn, reduce stress."</p>
                </div>
                <form action="/login">
                    <button class ="dashbtn" >Check it Out</button>
                </form>
            </div>
        </section>
        
    </main>
</body>
</html>
