<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body class="Disc_body">
    <main>
        <!-- Description Info -->
        <section class = "Description">
            <div class = "content-wrap-divider">
                <div class = "Disc">
                <h1>Discover</h1>
                    <p>How Pranayamic Breathing could help de-stress during times of high anxiety.
                        How keeping a journal helps with monitoring daily moods, thoughts and allows you to be aware of surroundings and cognizant of your actions.
                        How daily meditation can help with keeping a still mind and finding a balance in a hectic world. 
                    </p>
                </div>
                <div class="disc_meditation">
                <h2>Meditate</h2>
                    <img src="{{ url_for('static',filename='Images/rock-spa-png-.png') }}" alt="Meditate" >
                    <p> Meditate Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum est iure ipsum sapiente, explicabo velit assumenda ut quisquam quod odit autem vero eos repellat deserunt, deleniti ullam dolorem ipsam sunt!</p>
                </div>
                <div class="disc_breathing">
                    <h2>Pranayamic Breathing </h2>
                    <img src="{{ url_for('static',filename='Images/breathing_logo.png') }}" alt="Breathing" >
                    <p>Breathing Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui laborum voluptatibus optio iste, aliquam enim dignissimos voluptates ex nobis architecto veniam eaque cumque corporis mollitia, illum consectetur sunt dolore perferendis.</p>
                </div>
                <div class="disc_journal">
                <h2>Journal</h2>
                    <img src="{{ url_for('static',filename='Images/open_book.png') }}" alt="Journal" >
                    <p>Journal Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus exercitationem quibusdam unde a non, praesentium, cupiditate, temporibus optio reiciendis quisquam ab ipsam vitae sed quo rem sapiente fuga. Numquam, fugiat?</p>
                </div>
                <form action="/login">
                    <button class ="dashbtn" >Check it Out</button>
                </form>
            </div>
        </section>
        
    </main>
</body>
</html>