<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditate</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="meditateBG">
    <h1> Meditate</h1>
    <div class="jumpBtns">
        <a href = "Meditate.html#2minute">
            <button class="twoMinBtn">2 Minute</button>
        </a>
        <a href = "Meditate.html#5minute">
            <button class="fiveMinBtn">5 Minute</button>
        </a>
        <a href = "Meditate.html#10minute">
            <button class="tenMinBtn">10 Minute</button>
        </a>
        <a href = "Meditate.html#Pranayama">
            <button class="pranayamaBtn">Pranayama</button>
        </a>
    </div> 
    
    <a href = "Dashboard.html">
        <button class="Homebtn">Home</button>
    </a>
    <div class= "videos">
        <a id ="2minute">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/vLhOGEnEedk" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </a>
        <a id ="5minute">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/lUJ3nl7N35Q" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </a>
        <a id="10minute">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/O-6f5wQXSu8" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </a>
        <a id ="Pranayama">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/e3Xm0nyk8vg" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </a>
    </div>
</body>
</html>
